apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ service_name }}
  name: {{ service_name }}
  namespace: {{ namespace }}
spec:
  ports:
  - nodePort: {{ nodePort }}
    port: 50001
    protocol: TCP
    targetPort: 50001
  selector:
    app: {{ service_name }}
  type: NodePort